In [11]:
import sys
import os
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '../')))
import pandas as pd
from steel_des import Section


data = {
    "Label":["SB1","SB2","SB3",],
    "Size": ["UC150x150x30", "UC150x150x40", "UC150x150x50"],
    "Depth": [150,155,160]
}

sect_data = pd.DataFrame(data)

section_1 = Section(sect_data)

# Set a valid size
try:
    section_1.sect_label = 'SB2'  # This should work
    print(f"Section size set to: {section_1.sect_label}")
except ValueError as e:
    print(e)

# Attempt to set an invalid size
try:
    section_1.sect_size = 'SB4'  # This should raise an error
except ValueError as e:
    print(e)

Section size set to: SB2
SB4 is not a valid section size or not in the database.

In [12]:
df = sect_data
df

  Label          Size  Depth
0   SB1  UC150x150x30    150
1   SB2  UC150x150x40    155
2   SB3  UC150x150x50    160